.results-wrapper {
    max-width: 900px;
    margin: auto;

    table {
        border-radius: 10px;
        padding: 1rem;
        margin: 2rem 0;
    }

    .actions-wrapper{
        text-align: center;
    }
}